TZ=America/New_York

CAM1_IP=10.0.0.211
CAM1_USER=admin
CAM1_PASS=CHANGE_ME

CAM2_IP=
CAM2_USER=admin
CAM2_PASS=

CAM3_IP=
CAM3_USER=admin
CAM3_PASS=

CAM4_IP=
CAM4_USER=admin
CAM4_PASS=

CAM5_IP=
CAM5_USER=admin
CAM5_PASS=

CAM6_IP=
CAM6_USER=admin
CAM6_PASS=
